@charset "utf-8";
/* CSS Document */

body {
    /*font-family: Times New Roman, Times, serif;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#333;
    margin:0;
    padding:0;
    margin-top:30px;
    background:url(../images/body-bg.jpg) repeat; 
    margin-bottom:30px;
    height: 100%;	
}


h1, h2, h3, h4, h5, h6 {
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:#006;
}

.clear { clear:both; }
.cach{height:10px;}

a:link, a:visited {
    color:#06F;
    text-decoration:none;
}
a:hover{
    color:#FF9900;
    cursor: pointer;
}

#wrapper {
    width:970px;
    /*vien tron va lam mo*/
    border-radius:15px;
    -moz-border-radius:15px;
    padding:10px;
    box-shadow: 0px 0px 14px #036803;
    -moz-box-shadow: 0px 0px 14px #036803;
    margin:0 auto;

}
#header {    
    border:none;
    background:url(../images/Logo.pgn); 
    height: 100px;

}
#header #logo {
    width:970px;
    float:left;
}

#header .today { position:absolute; margin:0 0 0 770px;color: #999999;}


#menu-nav
{
    padding-bottom: 20px;
    background-image:url(../images/menu_center.png);
    width:970px;
    height:17px;
    border: 1px solid rgb(176, 196, 222);
    margin: 0 auto;
    margin-bottom:15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;   
}

#menu-nav ul li a {
    text-transform:uppercase;
    text-decoration:none;
    font-weight:bold;
    color:#FFF; 
}
#menu-nav ul.nav li a:active{
    color:#F30;  
}
#menu-nav ul.nav li a:hover {
    color:#FF9966;
    border: 2px solid rgb(176, 196, 222);
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color:#CCFFFF;
    opacity:0.9;
    cursor: pointer; 
}
#menu-nav ul.nav {
    list-style: none;	
    position: absolute;
    z-index: 6000;
    margin:auto 0;
    width:970px;  
}
#menu-nav ul.nav li {
    list-style: none;
    display:inline;
    float: left;
    margin: 0 5px 0 5px;
}
#menu-nav ul.nav a, ul.nav a:visited {
    padding: 11px 5px 5px 5px;
    display: block;
    text-decoration: none;
    font-weight:bold;
}
/*menusub2*/

#menu-nav ul.nav li ul { 
    display:none;
    float:left;
    background-color: #0066CC;
}

#menu-nav ul.nav li li
{
    float:none;
}
#menu-nav ul.nav li:hover > ul 
{
    display:block;
    cursor: pointer;
}

#menu-nav ul.nav li ul a, ul.nav ul.nav li ul a:visited {  
    padding: 7px 10px 7px 10px;
    display: block;
    text-decoration: none;
    text-decoration:none;
    border-bottom: 1px solid red;
    box-shadow: 0px 0px 10px #036803;
    -moz-box-shadow: 0px 0px 10px #036803;
    font-weight:bold;
}
ul, ol, dl {
    padding:0;
    margin-top: 10px;
}

.sidebar1 {
    float: right;
    width: 180px;
}

#banner-main {
    width:970px;
    height:300px;
    float:left;

}
#banner-main .div-text {   
    float:right;
    width:260px;
    height:300px;
    border: 2px solid rgb(176, 196, 222);
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #3399CC;
}
.div-images{
    float:left;
    width:650px;
}
#banner-main img {
    opacity:0.7;
}

/*--------left-----------*/
#main {
    font-size:13px;
    border:1px;
}
#main .content1 {
    height:auto;
    width: 700px;
    float: left;
    margin-top:20px;
    text-decoration: none;
    background-color:#DBE8F9;
    box-shadow: 0px 0px 5px #999999;
}
#main .content1 .content {   
    padding: 10px 20px 30px 20px;
}
/*#main .display{
    float: left;
    width: 665px;
    background: #DBE8F9;
    padding: 10px 20px 30px 20px;
    box-shadow: 0px 0px 5px #999999;
}*/

#main .display-blog{
width:700px;
    height:auto;
    float: left;
     margin-top:10px;
    background: #DBE8F9;
    padding: 10px 0 50px 20px;
    box-shadow: 0px 0px 5px #999999;
}

.maintabs{
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.maintabs li{
  float: left;
  margin: 0 auto;
}

.maintabs a{
  position: relative;
  background: #0066CC;
  background-image: linear-gradient(to bottom,#0066CC,#003399);  
  padding: 7px 5px 7px 15px;
  float: left;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  border-radius: 5px 0 0 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
  width: 100%;
}

.maintabs a:hover,
.maintabs a:hover::after,
.maintabs a:focus,
.maintabs a:focus::after{
  background: #FF9966;
}

.maintabs a:focus{
  outline: 0;
}

.maintabs a::after{
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  right: -.5em;  
  bottom: 0;
  width: 1em;
  background: #0066CC;
  background-image: linear-gradient(to bottom,#0066CC,#003399);  
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  transform: skew(10deg);
  border-radius: 0 5px 0 0;  
}
.tablines{
    width: 100%;
    border-bottom: 2px solid #0066CC; 
}
#main .content-lr{
    width: 320px;
    margin-top: 10px;
}
#main .content-lr .contentmain{
    color: #069;
    margin: 10px 0 0 20px;
}
#main .content .contain_total{
    margin: 0 20px 0 20px;
}
#main .content .contain_title{	
    font-size:11pt;
    font-weight:bold;
    margin:5px 0 5px 0;
    
}
#main .contain_content{
    padding:5px;
    width: 100%;
}
#main .contain_content .tomtat{
    padding:5px;
}
#main .more{
    padding-bottom: 10px;
}
.contain_ndtin{
    padding:20px 0 20px 10px;
    width: 550px;
    color: #F30;
    font-weight: bold;
    font-size: 16px;
   
}
.contain_solanxem{
    padding:20px 0 20px 0;
    color: #e7931a;
    font-weight: bold;
}
.hinh{
    margin: 0 20px 5px 0;
    box-shadow: 0px 0px 5px #999999;

}
#main #content table .col{
    width:35px;

}
#main .tin{
    font-size: 20px;
    color: #FF9966 ;
    font-weight: bold;
    background: url(../images/con4_head_m.png) repeat-x;
    margin: 0 0px 0px 10px;
    padding: 5px 0 5px 10px;
}
.item-link{
    color: #000000;
    background: url(../images/bullet.gif)  no-repeat;
    padding-left: 20px;
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 0;
    text-align: justify;
    cursor: pointer;
} 

/*Giao vien-Download tai lieu*/
.filehead{
    background-color: #60c8f2;
    color:#FFFFFF;
    font-weight:bold;
    height: 20px;
    padding: 1em;
}
.filecontent{
    background-color:#FFFFCC;
}
.thongbao{
    color:#FF0000;
    padding:5px;
    font-size:18px;
}
.tieude{
    text-shadow: 0 4px 4px rgba(255,255,255,.8);
    padding:20px 10px 10px 10px;
    font-weight:bold;
}
.tinthem{
    color: #636363;
    padding:10px 10px 5px 10px;
}
.tinmoinhat{
    font-size:22px;
    color:#FF9966 ;   
}
.tenthongbao{
    font-size:16px; 
    color: #FF9966;
}
.tinlienquan{
    font-size:16px; 
    color: #999999;
}
/*---*/
.fupload{
    margin: 20px 0 10px 20px;

}
.upload{
    font-size:14px;
    font-weight:bold;
    color:#FF9966 ;
    padding:20px 5px 10px 15px;
}
.loaitin{
    padding:10px;
}
/*right content*/
#main #sidebar-right {
    float:right;
    width:250px;
    margin: 20px 0 10px 10px;
    vertical-align:top;
}
.block {
    border: 1px solid rgb(176, 196, 222);
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #999999;
    margin-bottom: 10px;
    background:#EAF4F5;
}
.block .block-title {
    font-weight:bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    color:#FFF;
    background: #0066CC;
    background-image: linear-gradient(to bottom,#0066CC,#003399); 
    padding:7px 20px 7px 20px;
    height:18px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 0 0;
}
.block-content {
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px;
    font-size: 13px;
    list-style:none; display:block;
}
.block-content ul,
.block-content li, 
.block-content a,
.block-content a:link,
.block-content a:visited,
.block-content a:hover
{
   color: #3D3E3D;
   font-size: 13px;
}
.block-content a, .block-content a:link
{
   color: #514448;
   text-decoration: none;
}

.block-content a:visited, .block-content a.visited
{
   color: #514448;
   text-decoration: none;
}

.block-content a:hover, .block-content a.hover
{
   color: #F23134;
   text-decoration: none;
}

.block-content ul li
{
    background-image:url(../images/blockcontentbullets.png);
   line-height: 15px;
   color: #3D3E3D;
   margin:  0 0 0 10px;
   padding: 0 0 0 11px;
  list-style: none;
   background-repeat: no-repeat;
   background-position: top left;
   
}
/*========= ĐỊNH DẠNG BOX Tin noi bat ========*/
.block .jcarouse {
    padding: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px;
    font-size: 12px;
    list-style:none; display:block;
    width:235px;
}
.jcarouse ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:5px;}
.jcarouse ul li a{ display:block; color:#514448;width:120px; }
.jcarouse ul li a:hover{ display:block; color:#DB2E66;  }
.jcarouse .thumb { float:left; width:100px; height:50px;}
.jcarouse .info { float:right;padding-left:2px;}
.clr { clear: both; }
.jcarouse  img { border: 2px solid #FFF; width: 100px;height: 50px; }
#footer {
    border:none;
    text-align:left;
    padding:10px 0px 20px 10px;
    border: 1px solid rgb(176, 196, 222);
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #8AB1FE;
    opacity:0.7;
    box-shadow: 0px 0px 10px #036803;
    -moz-box-shadow: 0px 0px 10px #036803;
}
.footer span {
    font-size: 12px;
    font-weight: normal;
    color: #636363;
}

#show{
    color:white;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding:0;
    margin: 0;
    cursor: pointer;
}

.form-item {
    padding:3px;
}
.form-item .label { 
    width:80px;
    float:left;
    padding-top:3px;
}
.form-item .value {
}
.form-item .value input { width:100px; }





.float{
    float:left;
}
/*phan trang*/

ul.nav1 {overflow: hidden; padding: 0px;}
ul.nav1 li { display: inline; float: left;margin: 0 0 0 5px;
             background: #8AB1FE;margin-top: 50px; padding: 2px 5px;color: #999999; font-weight: bold;font-size: 12px;}
ul.nav1 li a {color: white;text-decoration: none;display: block; padding: 3px 8px;font-weight: bolder;}
ul.nav1 li:hover {background: #3A7ABE;}
ul.nav1 li.current {font-weight: bold; padding: 3px 8px; background: #FF9966; color: #CEEDFF ; }

.link{
    font-size:16px;
    font-weight:bold;
    color: #07C;
    padding:20px 20px 10px 10px;
}